@font-face {
  font-family: myFont;
  src: url("/fonts/Karla-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: myFont;

  /* temporary */
  background-color: black;
  color: white;
}

main {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px;
}

@media screen and (max-width: 720px) {
  main {
    width: 100%;
  }
}
