* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #21222a;
  padding: 0 25px;
}

.logo-text {
  color: #61dafb;
  margin-left: 8px;
  margin-right: auto;
  font-size: 22px;
}

.project-title {
  color: #deebf8;
  font-weight: normal;
}
