* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #21222a;
  padding: 0 25px;
}

.logo-text {
  color: #61dafb;
  margin-left: 8px;
  margin-right: auto;
  font-size: 22px;
}

.project-title {
  color: #deebf8;
  font-weight: 600px;
}

main {
  background-color: #282d35;
  color: white;
  height: 450px;
  padding: 57px 27px;
}

.heading {
  font-size: 40px;
}

.facts {
  margin-top: 37px;
}

main li {
  font-size: 1rem;
  margin: 20px 0;
}
