.project-container {
  width: 250px;
  height: 300px;
  background-color: aqua;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container * {
  margin: 0;
}

.project-img {
  width: 100%;
  height: 130px;
  border-radius: 5px;
}

.project-icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.project-icons i {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms;
}

.project-icons i:hover {
  transform: scale(1.2);
}

.project-icons a {
  text-decoration: none;
  color: inherit;
}
