* {
  margin: 0;
}

section {
  display: flex;
  /* justify-content: space-around; */
  gap: 20px;
  margin: 36px 40px;
  width: 42%;
}

.place-photo {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.place-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto 0;
}

.place-location {
  display: flex;
  flex-wrap: wrap;
}

.place-location img {
  width: 14px;
  margin: auto 0;
  margin-right: 2px;
}

.place-location a {
  margin-left: 12px;
  color: #918e9b;
  font-size: 14px;
}

.place-location a:hover {
  text-decoration: none;
}

.description {
  color: #2b283a;
}

@media screen and (max-width: 800px) {
  section {
    width: 100%;
  }
}
