* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

#root {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
